<h3>Adicionar Tarefas</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="nome" name="nome">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>







<div class="panel-body">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tarefa</th>
    
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let course of HenriqueTaskService.tarefas, index as i">
      <td>{{course}}</td>
      <td>
      
        <button (click)="HenriqueTaskService.deleteByIndice(i)" class="btn btn-danger">Delete</button>
      </td>

    </tr>


  </tbody>

</table>
</div>